name: Check docs build and examples run

on:
  push:

jobs:
  docs:
    strategy:
      fail-fast: false
    runs-on: ubuntu-22.04
    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install \
          gir1.2-gtk-3.0 \
          ipython3 \
          python3 \
          python3-gi \
          python3-gi-cairo \
          python3-pip \
          python3-setuptools \
          python3-wheel \
          texlive-latex-base \
          texlive-latex-extra \
          texlive-pictures \
          cm-super \
          dvipng \
          ghostscript \
          xvfb
        sudo ln -s /usr/bin/ipython3 /usr/bin/ipython
    - name: Install
      run: sudo pip3 install .[doc]
    - name: Build docs
      run: |
        cd doc && xvfb-run make html

  examples:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04, macos-11]
        python-version: [3.7, 3.8, 3.9]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies (Ubuntu)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      run: |
        sudo apt-get update
        sudo apt-get install \
          texlive-latex-base \
          texlive-latex-extra \
          texlive-pictures \
          cm-super \
          dvipng \
          ghostscript
    - name: Install dependencies (macOS)
      if: ${{ startsWith(matrix.os, 'macos') }}
      run: |
        brew install mactex
        eval "$(/usr/libexec/path_helper)"
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#adding-a-system-path
        echo "$(dirname "$(which pdflatex)")" >> $GITHUB_PATH
    - name: Install
      run: |
        pip3 install . ipython
    - name: Run example scripts
      run: |
        cd doc/examples
        for f in $(find . -iname '*.py'); do
          echo "Running $f"
          (cd "$(dirname "$f")" && python3 -m IPython --matplotlib=Agg "$(basename "$f")")
        done
    - name: Draw example schematics
      run: |
        for f in $(find . -iname '*.sch'); do
          echo "Drawing $f"
          (cd "$(dirname "$f")" && schtex "$(basename "$f")")
        done
