name: Run tests and checks

on:
  push:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, windows-2019]
        python-version: [3.7, 3.8, 3.9]
        exclude:
          # pdflatex not installed for some reason with 3.6 and 3.7.  FIXME
          - os: windows-2019
            python-version: 3.6
          - os: windows-2019
            python-version: 3.7
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Install dependencies (Ubuntu)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      run: |
        sudo apt-get update
        sudo apt-get install \
          texlive-latex-base \
          texlive-latex-extra \
          texlive-pictures
    - name: Install dependencies (macOS)
      if: ${{ startsWith(matrix.os, 'macos') }}
      run: |
        brew install mactex
        eval "$(/usr/libexec/path_helper)"
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#adding-a-system-path
        echo "$(dirname "$(which pdflatex)")" >> $GITHUB_PATH
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        pip install .[test]
        python -c "from lcapy import show_version; show_version()"
    - name: Run tests
      run: nosetests

  checks:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: pip3 install .[test]
    - name: Run Flake8
      run: flake8
